<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body hide">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card"> 
      <div class="item item-divider">Current Location</div>
      <div class="item item-body">
        <div>
              
        </div>
      </div>
    </div>
    <div class="list card" ng-controller="DestinationController as vm">
      <div class="item item-divider">Destination</div>
      <div class="item item-body">
        <div>
              Enter an address: <br/>
                <input places-auto-complete size=80
                  ng-model="vm.address"
                  component-restrictions=""
                  types="['address']"
                  on-place-changed="vm.placeChanged()" /> <br/>
                <div ng-show="vm.place">
                  Address = {{vm.place.formatted_address}} <br/>
                  Location: {{vm.place.geometry.location}}<br/>
                </div>
              address : {{vm.address}}
              <map>
                  <marker position="current" centered="true"></marker>
                        <marker position="{{vm.address}}" title="{{address}}"></marker>
 <directions 
          draggable="true"
          travel-mode="DRIVING"
          origin="current-location"
          destination="{{vm.address}}">
        </directions>
              </ng-map>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
